@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-yellow: #ffc62d;
  --app-cyan: #3ecde0;
  --app-blue: #1d6ff2;
  --app-orange: #ff8157;
  --app-black: #191b1f;
  --app-white-1: #fefefe;
  --app-white-2: #949596;
}


body {
  background: var(--app-black);
}