.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    overflow: hidden;
    border-radius: 1rem;
    height: 90%;
    width: 90%;
    border: 1px solid var(--app-white-1);
}

.item-container{
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--app-white-1);
    border : 1px solid var(--app-white-1);
}

.item-container:nth-child(-n+6){
    border-top: none;
}

.item-container:nth-last-child(-n+6) {
    border-bottom: none;
}

.container .item-container:nth-child(6n + 1) {
    border-left: none;
}

.container .item-container:nth-child(6n) {
    border-right: none;
}

.grid-parent {
    display: grid;
    grid-template-columns: 0.08fr 1.8fr ;
    height: 100vh;
    width: 100vw;
    align-items: center;
    gap: 10%;
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 200px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: radial-gradient(circle 40px, #ffd738 90%,#0000 );
  filter: drop-shadow(0px 0px 1px #ffd738);
  animation: l2 1s infinite alternate linear;
}
.loader::before, 
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  --g:no-repeat linear-gradient(#ffd738 0 0) 50%;
  background: 
    var(--g)/100% 5px,
    var(--g)/5px 100%;
  -webkit-mask: radial-gradient(farthest-side,#0000 60%,#000 61%);
}
.loader::after {
    transform: rotate(45deg);
}
@keyframes l2 {
  100% {filter:drop-shadow(0px 0px 20px #ffd738)}
}